*{
  margin: 0;
  padding: 0;
}
a{
  display: block;
}
p{
  margin: 0;
  padding: 0;
}
ul,li{
  list-style: none;
}
body{
  background: #f4f4f4;
}
input{
  border: none;
}
body,div{
  -webkit-overflow-scrolling: touch;
}
.whiteBg{
  background: #fff;
}
.none{
  display: none;
}
.fetchLoading{
  width: 1.6rem;
  height: 1.6rem;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

.slider-decorator-0{
  height: .8rem;
}
.am-carousel-wrap{
  height: .8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.am-pull-to-refresh-content-wrapper{
  overflow: visible !important;
}

@mixin label($height) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: $height;
  padding: 0 .3rem;
  border-bottom: 1px solid #efefef;
  box-sizing: border-box;
  background: #fff;
}