.download{
  width: 60%;
  margin: 0 auto;
  >div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  h3{
    padding-top: 1.4rem;
    font-size: .72rem;
    color: #009688;
    font-family: 'Helvetica';
  }
  p{
    padding-top: .4rem;
    text-align: center;
    font-size: .44rem;
    color: #4a4a4a;
  }
  .btn{
    width: 3.6rem;
    height: .54rem;
    line-height: .54rem;
    margin-top: 1.2rem;
    border: 1px solid #4a4a4a;
    border-radius: .15rem;
    text-align: center;
    background: #fff;
    font-size: .32rem;
    color: #4a4a4a;
  }
  .loading{
    padding-top: 1.64rem;
    width: 2.4rem;
    height: 2.4rem;
  }
}