.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 .46rem;
  box-sizing: border-box;
  width: 100%;
  height: .76rem;
  background: #fff;
  font-family: 'Helvetica';
  .logo{
    font-size: .44rem;
    color: #009688;
    &+div{
      display: flex;
      align-items: center;
      .download{
        padding-right: .2rem;
        border-right: .01rem solid #ccc;
        font-size: .28rem;
      }
      .iconfont{
        padding-left: .2rem;
      }
    }
  }
  a{color: #000}
}