@import "header";
@import "detail-card";

.home{
  .mars-carousel{
    width: 100%;
    margin-bottom: .1rem;
    overflow: hidden;
    a{
      height: inherit;
    }
    img{
      height: inherit;
    }
  }
  .week-list-box{
    width: 100%;
    height: 1.36rem;
    overflow: auto;
    border-bottom: 1px solid #ebebeb;
    &::-webkit-scrollbar{
      display: none;
    }
    .week-list{
      width: 175%;
      height: 100%;
      display: flex;
      overflow-x: hidden;
      li{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;
        font-size: .6rem;
        font-weight: bold;
        font-family: 'Helvetica';
        text-align: center;
        p:last-child{
          font-size: .44rem;
        }
      }
      li.active{
        color: #009688;
      }
    }
  }
  .category-list-box{
    @extend .week-list-box;
    height: .86rem;
    border: none;
    background: #f4f4f4;
    .category-list{
      @extend .week-list;
      width: 100%;
      height: .76rem;
      background: #fff;
      position: relative;
      li{
        font-size: .4rem;
      }
    }
    .category-line{
      width: 17%;
      height: .1rem;
      position: absolute;
      background: #009688;
      transition: left linear .2s;
    }
  }
}