.order{
  font-family: 'PingFang-SC';
  .isCenter{
    padding-top: 4.26rem;
    text-align: center;
    font-size: .36rem;
    color: #878787;
  }
  .time{
    width: 100%;
    height: .84rem;
    line-height: .84rem;
    padding: 0 .3rem;
    border-bottom: 1px solid #ebebeb;
    box-sizing: border-box;
    font-size: .48rem;
    font-weight: bold;
  }
  .vendor-box{
    margin-left: .3rem;
    padding: .1rem .3rem .1rem 0;
    border-bottom: 1px solid #ebebeb;
    .vendor{
      font-size: .44rem;
      line-height: .8rem;
      font-weight: bold;
    }
    .orderGoods{
      font-size: .36rem;
      color: #878787;
      div{
        line-height: .6rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
  .address-box{
    @extend .vendor-box;
    font-size: .28rem;
    color: #878787;
    div{
      line-height: .5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .circle{
        width: .3rem;
        height: .3rem;
        border: 1px solid #979797;
        border-radius: 50%;
      }
      .circle-active{
        background: #009688;
      }
    }
  }
  .placeOrder{
    position: fixed;
    bottom: 1rem;
    left: 0;
    right: 0;
    margin: auto;
    width: 2.4rem;
    height: .6rem;
    line-height: .6rem;
    background: #009688;
    font-size: .32rem;
    color: #fff;
    text-align: center;
    border-radius: .12rem;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.5);
  }
}