.topBar{
  position: relative;
  width: 100%;
  height: .8rem;
  border-bottom: 1px solid #efefef;
  background: #fff;
  .caption{
    line-height: .8rem;
    text-align: center;
    font-size: .44rem;
    color: #009688;
    font-weight: bold;
    font-family: 'Helvetica';
  }
  div{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .4rem;
    box-sizing: border-box;
    p{
      font-size: .36rem;
    }
  }
  .show{
    opacity: 1;
    color: #000;
  }
  .hide{
    opacity: 0;
  }
}