* {
  margin: 0;
  padding: 0; }

a {
  display: block; }

p {
  margin: 0;
  padding: 0; }

ul, li {
  list-style: none; }

body {
  background: #f4f4f4;
  font-family: 'Helvetica'; }

input {
  border: none; }

body, div {
  -webkit-overflow-scrolling: touch; }

.whiteBg {
  background: #fff; }

.none {
  display: none; }

.fetchLoading {
  width: 1.6rem;
  height: 1.6rem;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto; }

.slider-decorator-0 {
  height: .8rem; }

.am-carousel-wrap {
  height: .8rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 .46rem;
  box-sizing: border-box;
  width: 100%;
  height: .76rem;
  background: #fff;
  font-family: 'Helvetica'; }
.header .logo {
  font-size: .44rem;
  color: #009688; }
.header .logo + div {
  display: flex;
  align-items: center; }
.header .logo + div .download {
  padding-right: .2rem;
  border-right: .01rem solid #ccc;
  font-size: .28rem; }
.header .logo + div .iconfont {
  padding-left: .2rem; }
.header a {
  color: #000; }

.detail-card .img-container {
  width: 100%;
  height: 3.2rem;
  min-height: 3.2rem;
  overflow: hidden;
  background-size: 100% 100% !important; }
.detail-card .info, .detail-card .order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 1.4rem;
  padding: 0 .3rem;
  box-sizing: border-box;
  border-bottom: 1px solid #ebebeb;
  background: #fff; }
.detail-card .info .top, .detail-card .order .top {
  display: flex;
  justify-content: space-between;
  align-items: center; }
.detail-card .info .top p:nth-of-type(1), .detail-card .order .top p:nth-of-type(1) {
  font-size: .36rem; }
.detail-card .info .top div, .detail-card .order .top div {
  display: flex;
  align-items: center; }
.detail-card .info .top div .heart, .detail-card .order .top div .heart {
  display: inline-block;
  padding: 0 .3rem;
  font-size: .24rem;
  color: #878787; }
.detail-card .info .bottom, .detail-card .order .bottom {
  color: #878787;
  font-size: .24rem; }
.detail-card .order {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: .84rem; }
.detail-card .order .price {
  font-size: .36rem; }
.detail-card .order .numChange {
  width: 2rem;
  height: .54rem;
  display: flex;
  justify-content: space-between; }
.detail-card .order .numChange input {
  width: .6rem;
  height: inherit;
  font-size: .36rem;
  text-align: center; }
.detail-card .order .reserve-btn {
  width: 1.9rem;
  height: .54rem;
  border-radius: .08rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .32rem;
  box-sizing: border-box; }
.detail-card .order .reserved {
  color: #fff;
  background: #009688; }
.detail-card .order .reserve {
  border: 1px solid #009688;
  color: #009688;
  background: #fff; }

.home .mars-carousel {
  width: 100%;
  margin-bottom: .1rem;
  overflow: hidden; }
.home .mars-carousel a {
  height: inherit; }
.home .mars-carousel img {
  height: inherit; }
.home .week-list-box, .home .category-list-box {
  width: 100%;
  height: 1.36rem;
  overflow: auto;
  border-bottom: 1px solid #ebebeb; }
.home .week-list-box::-webkit-scrollbar, .home .category-list-box::-webkit-scrollbar {
  display: none; }
.home .week-list-box .week-list, .home .category-list-box .week-list, .home .category-list-box .category-list {
  width: 175%;
  height: 100%;
  display: flex;
  overflow-x: hidden; }
.home .week-list-box .week-list li, .home .category-list-box .week-list li, .home .category-list-box .category-list li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  font-size: .6rem;
  font-weight: bold;
  font-family: 'Helvetica';
  text-align: center; }
.home .week-list-box .week-list li p:last-child, .home .category-list-box .week-list li p:last-child, .home .category-list-box .category-list li p:last-child {
  font-size: .44rem; }
.home .week-list-box .week-list li.active, .home .category-list-box .week-list li.active, .home .category-list-box .category-list li.active {
  color: #009688; }
.home .category-list-box {
  height: .86rem;
  border: none; }
.home .category-list-box .category-list {
  width: 100%; }
.home .category-list-box .category-list li {
  border-bottom: .1rem solid #f4f4f4;
  font-size: .4rem; }
.home .category-list-box .category-list li.active {
  border-bottom: .1rem solid #009688; }

.topBar {
  position: relative;
  width: 100%;
  height: .8rem;
  border-bottom: 1px solid #efefef;
  background: #fff; }
.topBar .caption {
  line-height: .8rem;
  text-align: center;
  font-size: .44rem;
  color: #009688;
  font-weight: bold;
  font-family: 'Helvetica'; }
.topBar div {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 .3rem;
  box-sizing: border-box; }
.topBar div p {
  font-size: .36rem; }
.topBar .show {
  opacity: 1;
  color: #000; }
.topBar .hide {
  opacity: 0; }

.account .label-fat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 1.6rem;
  padding: 0 .3rem;
  border-bottom: 1px solid #efefef;
  box-sizing: border-box;
  background: #fff;
  margin-top: .2rem;
  margin-bottom: .3rem;
  justify-content: flex-start; }
.account .label-fat .img-box {
  width: 1rem;
  height: 1rem;
  padding-right: .3rem; }
.account .label-fat .info, .account .label-fat .detail-card .order, .detail-card .account .label-fat .order {
  height: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: .28rem; }
.account .label-fat .info p:nth-of-type(1), .account .label-fat .detail-card .order p:nth-of-type(1), .detail-card .account .label-fat .order p:nth-of-type(1) {
  color: #009688; }
.account .label-fat .info p:nth-of-type(2), .account .label-fat .detail-card .order p:nth-of-type(2), .detail-card .account .label-fat .order p:nth-of-type(2) {
  color: #878787; }
.account .label-box {
  margin-bottom: .3rem; }
.account .label-box .label-thin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 0.8rem;
  padding: 0 .3rem;
  border-bottom: 1px solid #efefef;
  box-sizing: border-box;
  background: #fff; }
.account .label-box .label-thin p {
  font-size: .28rem;
  color: #878787; }

.profile {
  overflow: hidden; }
.profile p {
  font-size: .36rem;
  color: #878787;
  line-height: 1rem; }
.profile .label-fat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 1.6rem;
  padding: 0 .3rem;
  border-bottom: 1px solid #efefef;
  box-sizing: border-box;
  background: #fff;
  margin-top: .2rem; }
.profile .label-fat .img-box {
  width: 1rem;
  height: 1rem; }
.profile .label-thin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 1rem;
  padding: 0 .3rem;
  border-bottom: 1px solid #efefef;
  box-sizing: border-box;
  background: #fff; }
.profile .label-thin .signature {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 50%;
  text-align: right; }

.edit-info {
  height: calc(100% - .8rem);
  background: #fff; }
.edit-info .input-box {
  width: 100%;
  height: 1rem; }
.edit-info .input-box input {
  display: block;
  width: 6.9rem;
  height: 100%;
  margin: 0 .3rem;
  border: none;
  border-bottom: 2px solid #009688;
  font-size: .36rem;
  color: #000;
  outline: none; }
.edit-info p {
  width: 100%;
  height: 1rem;
  line-height: 1rem;
  padding: 0 .3rem;
  box-sizing: border-box; }

.sign {
  padding-top: 1.68rem; }
.sign img.rounded {
  display: block;
  width: 2.16rem;
  height: 2.16rem;
  margin: 0 auto;
  border-radius: 50%;
  border: 1px solid #878787; }
.sign .commit-area {
  padding-top: .54rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
.sign .commit-area input, .sign .commit-area .commit-btn {
  width: 3.6rem;
  height: .54rem;
  line-height: .54rem;
  margin-bottom: .3rem;
  border-radius: .15rem;
  text-align: center; }
.sign .commit-area input {
  font-size: .28rem;
  color: #878787;
  border: 1px solid #878787; }
.sign .commit-area .commit-btn {
  background: #009688;
  font-size: .32rem;
  color: #fff; }
.sign .commit-area .service {
  font-size: .24rem; }
.sign .commit-area .service span {
  color: #878787; }

.load {
  width: 60%;
  margin: 0 auto; }
.load > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
.load h3 {
  padding-top: 1.4rem;
  font-size: .72rem;
  color: #009688;
  font-family: 'Helvetica'; }
.load p {
  padding-top: .4rem;
  text-align: center;
  font-size: .44rem;
  color: #4a4a4a; }
.load .btn {
  width: 3.6rem;
  height: .54rem;
  line-height: .54rem;
  margin-top: 1.2rem;
  border: 1px solid #4a4a4a;
  border-radius: .15rem;
  text-align: center;
  background: #fff;
  font-size: .32rem;
  color: #4a4a4a; }
.load .loading {
  padding-top: 1.64rem;
  width: 2.4rem;
  height: 2.4rem; }

.product .greyBg {
  overflow: hidden;
  background: #f4f4f4; }
.product .greyBg .label-thin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 1rem;
  padding: 0 .3rem;
  border-bottom: 1px solid #efefef;
  box-sizing: border-box;
  background: #fff;
  font-size: .32rem;
  color: #969696; }
.product .greyBg .label-thin .provider {
  display: flex;
  align-items: center;
  color: #000; }
.product .greyBg .label-thin .provider img {
  width: .6rem;
  height: .6rem;
  padding-right: .1rem; }
.product .greyBg .label-thin a {
  color: #969696; }
.product .greyBg .label-thin .chat {
  display: flex;
  align-items: center; }
.product .greyBg .label-thin .chat span {
  border: .02rem solid #969696;
  padding: .08rem .12rem;
  transform: scale(0.5); }
.product .greyBg .label-thin .join-list-box {
  width: 71%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-end; }
.product .greyBg .label-thin .join-list-box .join-list {
  overflow: auto;
  display: flex;
  align-items: center; }
.product .greyBg .label-thin .join-list-box .join-list::-webkit-scrollbar {
  display: none; }
.product .greyBg .label-thin .join-list-box .join-list img {
  width: .6rem;
  min-width: .6rem;
  height: .6rem;
  padding-right: .3rem; }
.product .greyBg .label-thin:last-child {
  margin-bottom: .2rem; }
.product .describe {
  width: 100%;
  background: #fff;
  padding: .3rem;
  box-sizing: border-box;
  font-size: .32rem;
  color: #878787;
  line-height: .5rem; }

/*# sourceMappingURL=index.css.map */
